#SearchImage{
background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 380px;
text-align: center;
}
#SearchBar{
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #f1f1f1;
    background-position: right;
    padding: 10px;
}
#indeximages1{
    margin-left: 15%;
    margin-right: 15%;
    
}
.indeximages{
    padding: 4% 4% 4% 4%;
    border-radius: 25%;
}